<div class="container">
  <div class="panel panel-primary">
    <div class="panel-heading center">
      Lista de pistas alquiladas
    </div>
    <div class="panel-body">
      <table class="table-hover bordered responsive-table striped">
        <thead class="thead-default">
        <tr>
          <th>ID PISTA</th>
          <th>FECHA RESERVA</th>
          <th>HORA</th>
        </tr>
        </thead>
        <tbody>
        <tr *ngFor="let item of lista">
          <td>{{ item.id_pista }}</td>
          <td>{{ item.fecha_reserva }}</td>
          <td>{{ item.hora }}</td>
        </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>
