<!--&lt;!&ndash;&lt;!&ndash;The content below is only a placeholder and can be replaced.&ndash;&gt;&ndash;&gt;-->
<nav class="blue">
  <div class="container">
    <div class="nav-wrapper">
      <a href="#!" class="brand-logo center">AnguShockSport<i class="material-icons">directions_run</i></a>
      <a href="#" data-activates="mobile-demo"  id="btnMenu" class="button-collapse"><i class="material-icons">menu</i></a>
      <ul class="left hide-on-med-and-down">
        <li><a href="sass.html" routerLink="activate">Inicio</a></li>
        <li><a href="badges.html" routerLink="activate">Pistas</a></li>
        <li><a href="collapsible.html" routerLink="activate">Pistas Alquiladas</a></li>
        <li><a href="mobile.html" routerLink="activate">Descuentos</a></li>
      </ul>
      <div class="right hide-on-med-and-down">
        <button class="btn blue">Login</button>
      </div>
      <ul class="side-nav" id="mobile-demo">
        <li><a href="#!">AnguShockSport<i class="material-icons">directions_run</i></a></li>
        <li><a href="sass.html">Sass</a></li>
        <li><a href="badges.html">Components</a></li>
        <li><a href="collapsible.html">Javascript</a></li>
        <li><a href="mobile.html">Mobile</a></li>
        <li><a href="#" materialize="sideNav" [materializeParams]="[{edge:'left'}]" data-activates="slide-out"
               class="button-collapse">
          <i class="fa fa-bars fa-2x"></i>
        </a></li>
      </ul>
    </div>
  </div>
</nav>

